<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div id="form">
    <h1>Register System</h1>

    <form action="http://127.0.0.1:5000/result" method="post">
        Enter UserName:<input type="text" name="user"><br>
        Enter Email-ID:<input type="text" name="mail"><br>
        Enter Phone-Number:<input type="text" name="mob"><br>
        Enter Password:<input type="text" name="pass"><br>
        Re-Enter Password:<input type="text" name="rpass"><br>

        <input type="submit" value="signup">

    </form>
</div>

</body>
</html>

